body
{
  color:crimson;
  background-image: url("https://cdn.pixabay.com/photo/2017/01/27/16/09/people-2013447_960_720.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
